# Server br0 IP
server_br0_bridge_ports=eth1,eth2,eth3
server_br0_address=172.16.0.1
server_br0_netmask=255.255.255.0
server_br0_network=172.16.0.0
server_br0_broadcast=172.16.0.255

# dnsmasq
server_interface=eth1
server_listen_address=172.16.0.1
server_nameserver=114.114.114.114
server_dhcp_range=172.16.0.2,172.16.0.254,12h