# Tor wlan0 Ip
tor_wlan0_address=192.168.1.250
tor_wlan0_netmask=255.255.255.0
tor_wlan0_network=192.168.1.0
tor_wlan0_broadcast=192.168.1.255

# Tor hostapd
tor_hostapd_ssid=datexla-pi-tor1
tor_hostapd_channel=1
tor_hostapd_password=datexla-pi-tor1_

# Tor dnsmasq
tor_interface=wlan0
tor_listen_address=192.168.1.250
tor_nameserver=114.114.114.114
tor_dhcp_range=192.168.1.1,192.168.1.249,12h